/* Write Your CSS Below 
Colors: 
- rgb(243, 183, 106)
- yellow
- rgb(241, 117, 0)
- red
- rgb(13, 110, 0)
- rgb(109, 0, 251)
- rgb(219, 255, 57)
- rgb(116, 201, 241)
- rgb(251, 64, 64)

Sizes: 
- 100%
- 70%
- auto
- 1.5em
- 3rem
- .5em

Font: 
- Copperplate (You can also use any font that you'd like!)

Images: 
- "https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg"
    - (You may use any image you would like for the background!)
*/

* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-image: url("https://i.pinimg.com/236x/d6/3f/56/d63f563519df0ece564b82c72e9e306c.jpg");
    background-position: center;
    background-size: cover;
}

h1{
    margin-left: 100px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom:10px;
    border-radius: 7px;
    text-align:center;
    text-decoration: underline;
    color: rgb(83, 24, 131);
    background-image: linear-gradient(skyblue,red);
    font-size: 25px;
    text-shadow: 3px 4px 3px rgba(255,255,255,0.5);
}

/* blue jordans */

#jordans-1 {
    border: 2px solid blue;
}

#jordans-1-desc {
    border: 3px solid red;
    background-color: skyblue;
    width: 60%;
    
}

/* red jordans */

#jordans-2 {
    border: 2px solid red;
}

#jordans-2-desc {
    border: 3px solid green;
    background-color: red;
    width: 60%;
}

#row2 {
    margin-left: 20%;
    margin-bottom: 31%;
}

/* both */

.row {
    display: flex;
    flex-direction: column;
}